@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url(./lista.css);
@import url(./aside.css);
@import url(./modal.css);
@import url(./graficos.css);
@import url(./response.css);

:root {
    --lightest: #FFFFFF;
    --light: #D1DEE9;
    --mid: #8197A9;
    --dark: #283845;
    --darkest: #202C39;
    --brand: #97591c;
    --buttonConfirmar: #31a931;
    --buttonCancelar: rgb(156, 3, 3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-image: url(../img/pexels-ann-poan-5797903.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pagina {
    background-color: #000000dc;
    width: 100%;
    min-height: 100%;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    width: 80%;
    max-width: 80%;
    margin: 2em 0 !important;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: var(--lightest);
    text-decoration-color: var(--lightest);
}

span {
    color: var(--brand);
}

section {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.container {
    padding: 2em 1em;
    border-radius: 5px;
    background-color: var(--dark);
    box-shadow: 1px 1px 5px var(--darkest);
    color: var(--lightest);
    margin-bottom: 1em;
}

.hide {
    display: none;
}