.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-img {
    max-height: 100px;
}

.rede-link{
    text-decoration: none;
    color: var(--lightest);
}