@media (max-width: 1500px ) {
    
    header{
        width: 95% !important;
        max-width: 95% !important;
    }
    
    h1 {
        font-size: 2em !important;
    }

    #texto-input{
        margin-right: 0;
    }

    section{
        gap:0.5em !important;
    }

    .container{
        padding: 1em 0.5em !important;
        margin-bottom: 0.5em !important;
    }

    #lista-section {
        width: 95%;
        max-width: 95%;
    }

    #adicionar {
        display: none;
    }

    aside > .container{
        display: flex;
        flex-direction: column;
    }
}
